.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btndiv{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.btn{
  text-align: center;
  color: #FFFF;
  padding: 1rem 2rem;
  margin-top: 1rem;
  background-color: black;
  border: none;
  border-radius: 15%;
  position: absolute;
  
}
.btn:hover{
  color: #4ECCA3;
  padding: 1.4rem 2.8rem;
  /* zoom: 125%; */
  transition: 0.5s;
  font-size: 1.2rem;
}